html{
    background: url("Manhattan.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container{
  position: absolute;
  top: 42%;
  width: 100%;
}

h1, span{
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
}

.footer{
  position: fixed;
  left: 0px;
  bottom: 0;
  padding: 6px;
}

.text1{
  position: relative;
  color: white;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  background: black;
  animation: text 3s 2s ease-in-out infinite;
}

.text2{
  font-size: 30px;
  color: black;
  text-shadow: 3px 1px 2px #FF0000;
}

@keyframes text{
  0%{
    color: black;
    margin-bottom: -40px;
  }
  10%{
    letter-spacing: 20px;
    margin-bottom: -40px;
  }
  40%{
    letter-spacing: 8px;
    margin-bottom: -40px;
  }
  60%{
    letter-spacing: 9px;
    margin-bottom: 20px;
  }
  75%{
    letter-spacing: 9px;
    margin-bottom: 20px;
  }
  90%{
    letter-spacing: 9px;
    margin-bottom: 20px;
  }
  100%{
    letter-spacing: 9px;
    margin-bottom: 20px;
  }
}